/*
  Xenioo
  Dark Theme Style Sheet
  
  Upload this custom style sheet to your chatbot using Web Publishing Settings.
  Remember to choose "Load Both Xenioo and Custom Style Sheets" under Style Sheet Mode.

*/
#xenioo-chat-widget-button{
    background-color: rgb(58, 100, 150) !important;
    background-image: url(https://app02.xenioo.com/webchatsrc/xenioo-avatar-tran.png)  !important;
    border-radius: 25px !important;
    border:1px solid #4a9bdf;
}

#xenioo-conversation-header-avatar-container{
  display:none;
}

#xenioo-conversation-header-title-container{
  width:65% !important;
}

.u-bubble-text{
  background-color:#3a6496 !important;
}

#xenioo-conversation .xenioo-conversation-header, #xenioo-floating-context .xenioo-floating-context-header, #xenioo-floating-extra-content .xenioo-floating-context-header{
  background-color: #2b2b2b !important;
}

#xenioo-conversation .xenioo-conversation-body, #xenioo-floating-context .xenioo-floating-context-body{
  background-color: #2b2b2b !important;
}

#xenioo-conversation .xenioo-conversation-body .x-bubble-text, .xenioo-conversation-custom .x-bubble-text{
  background-color:transparent !important;
  color:white !important;
}

#xenioo-conversation .xenioo-conversation-body .x-button, .xenioo-conversation-custom .x-button{
  background-color:transparent !important;
  color:white !important;
  border: solid 1px #ffffff !important;
}

.x-message-time{
  margin-left:8px !important;
  color:#656565 !important;
}

#xenioo-conversation .xenioo-conversation-composer .xenioo-conversation-composer-container{
  background-color: #2b2b2b !important;
}